.score-board{
    width: 500px;
    display: grid;
    grid-auto-flow: column;
}

.score-board div{
    color: white;
    text-align: center;
    font-size: 3rem;    
    font-weight: bold;
    background-color: #4392F1;
    margin-bottom: 20px;

}

.score-board div:first-child{
    background-color: rgb(217, 219, 108);

}