.square{
    width: 15rem;
    height: 15rem;
    background-color: #a7848b;
    /* border: solid; */
    margin: 30px;
    border-radius: 20%;
    box-shadow: 5px 5px 5px rgb(0, 0, .5) ;
    cursor: pointer;
         
}

.square:hover{
    background-color: #c0b19e;
    border: solid;
    transition: 1.5s;  
    box-shadow: 5px 5px 20px rgb(0, 0, .5) ;
    transform: scale(1.2);  /* agranda los elementos */
   
}